# Ignore everything
*

# But not these files...
!.gitignore
!script.pl
!template.latex
!*.py
!*/
!ok
!*.ok
!*.txt
!*.html
!*.js
!*.css
!*.gif
!*.ico
!*.jpeg
|*.ttf
!*.scm
!scheme
!*.rst
# etc...

.lightly
logs
*.log
node_modules
dist
dist-ssr
*.local
.c_bin
.classes
